body {background-color: hsla(186, 27%, 50%, 0.96);}
 body{font-family: cursive;}
  
   h1{color: rgb(34, 98, 104);font-size: 30px;}
    h3{ color: rgba(28, 97, 104, 0.971);}
    h5{ color: hsl(185, 56%, 14%);}
    h2{color: (#226268)}
    h4{color: rgb(28,97, 104);}